<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/default.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="section">
    <div class="row">
      <div class="col-md-12">
        <hr class="" draggable="true">
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 p-y-2">

          <div class="row" draggable="true">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><a href="/panel/" class="btn btn-close btn-danger-outline">Закрыть</a></div>
          </div>
          <form class="">
            <div class="form-group">
              <label>Имя</label>
              <input type="email" class="form-control" placeholder="Введите имя">
            </div>
            <div class="form-group">
              <label>E-mail</label>
              <input type="password" class="form-control" placeholder="Введите E-mail">
            </div>
            <button type="submit" class="btn btn-block btn-close btn-success-outline">Добавить</button>
          </form>
        </div>
        <div class="col-md-4"></div>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
      </div>
    </div>
  </div>










</body>

</html>