{% load staticfiles %}
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href={% static "tracker/css/stylesheet.css" %} rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation
    files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    <script type="text/javascript" src="{% static "tracker/js/select.js" %}"></script>

  </head><body>
    <div class="navbar navbar-default navbar-static-top" style="background-color: #323B55">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color: #FFFFFF">TrackAdmin<br></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right"></ul>
            <a class="btn btn-primary navbar-btn navbar-right" href="{% url "logout" %}">Выход</a>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="col-md-6">
      <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Пользователи</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-4">
                <select class="selectpicker" id="myselect" data-width="100%" data-live-search="true" title="Выберите студента">
                </select>
              </div>
              <div class="col-md-4">
                <a class="btn btn-block btn-success" onclick="add()">Добавить</a>
              </div>
              <div class="col-md-4">
                <a class="btn btn-block btn-danger" onclick="del()">Удалить</a>
              </div>
            </div>
            <hr>
            <table class="table">
              <thead>
                <tr>
                  <th class="active">Имя</th>
                  <th class="active">Логин</th>
                  <th class="active">Статус</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="Name">Adam</td>
                  <td id="Log">21345</td>
                  <td is="Stat">student</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Карта
              <br>
            </h3>
          </div>
          <div class="panel-body">
            <img class="center-block img-responsive img-thumbnail" src="http://maps.googleapis.com/maps/api/staticmap?center=Kursk,Russia&amp;zoom=15&amp;size=600x400&amp;sensor=false&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:T%7C51.707256,%2036.150202">
          </div>
        </div>
      </div>
  

</div></body></html>