{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="myApp"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href={% static "tracker/css/stylesheet.css" %} rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    <script type="text/javascript" src="{% static "tracker/js/select.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { width: 100%; height: 400px; }
    </style>


  </head>
    <body onload="Get()">
    <div class="navbar navbar-default navbar-static-top" style="background-color: #323B55">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color: #FFFFFF; font-size: 40px">TrackAdmin<br></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right"></ul>
            <a class="btn btn-primary navbar-btn navbar-right" href="{% url "logout" %}">Выход</a>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="col-md-6">
      <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Пользователи</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-4">
                <select class="selectpicker" id="myselect" data-width="100%" onchange="SetUser()" data-live-search="true" title="Выберите студента">
                </select>
              </div>
            </div>
            <hr>
            <table class="table">
              <thead>
                <tr>
                  <th class="active">Имя</th>
                  <th class="active">Статус</th>
                  <th class="active">Дата</th>
                </tr>
              </thead>
              <tbody>
                <tr id="userparam">
                  <td id="Name">Name</td>
                  <td id="Stat">Status</td>
                  <td id="Date">Date</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Карта
              <br>
            </h3>
          </div>
          <div class="panel-body">
              <div id="map"></div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK8uoLaAEQAzidrQlwu-lSXVfMiwfuEi8&callback=initMap">
    </script>
          </div>
        </div>
      </div>


</div>
</body>
</html>